div#form {
    color: #fff;
    background-attachment: scroll;
    background: #1c1e21 url("../img/aqua.jpg");
    background-position: center center;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height:100%;

}