.navbar {
    background-color: #3ce7d0;
}


#maincon {
    width: 100%;
    padding-right: 10px;
    padding-left: 85px;
    padding-top: 25px;
    margin-right: auto;
    margin-left: auto;
}

.navbar .navbar-brand {
    color: #fcfdfd;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #0b0d56;
}
.navbar .navbar-text {
    color: #fcfdfd;
}
.navbar .navbar-nav .nav-link,
.navbar.nav pull-right.nav-link{
    color: #fcfdfd;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #0b0d56;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #3ce7d0;
    border-color: #edf7f7;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #fcfdfd;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #0b0d56;
    background-color: #edf7f7;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #edf7f7;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #0b0d56;
    background-color: #edf7f7;
}
.navbar .navbar-toggle {
    border-color: #edf7f7;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #edf7f7;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fcfdfd;
}
.navbar .navbar-collapse,
.navbar .navbar-form,.navbar.pull-right {
    border-color: #fcfdfd;
}
.navbar .navbar-link {
    color: #fcfdfd;
}
.navbar .navbar-link:hover {
    color: #0b0d56;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fcfdfd;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0b0d56;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0b0d56;
        background-color: #edf7f7;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fcfdfd;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0b0d56;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0b0d56;
        background-color: #edf7f7;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fcfdfd;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0b0d56;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0b0d56;
        background-color: #edf7f7;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fcfdfd;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #0b0d56;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #0b0d56;
        background-color: #edf7f7;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fcfdfd;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0b0d56;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0b0d56;
    background-color: #edf7f7;
}

#navbarDropdown {
    color: #fcfdfd;
    padding-right:40px;
}